<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBqssb1nLO9To2CDzyApdkU1uqGSyxZwwM</string>
	<key>GCM_SENDER_ID</key>
	<string>443033026177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.signTrack.ios</string>
	<key>PROJECT_ID</key>
	<string>autotel-lite</string>
	<key>STORAGE_BUCKET</key>
	<string>autotel-lite.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:443033026177:ios:f6e752058035073653d780</string>
</dict>
</plist>